body{
    margin:auto;
}
a{
    text-decoration:none;
}

#header{
    height:60px;
    background-color:#c3c423 ;
}
#icon{
    float:left;
    margin-left:1%;
    margin-top:-1%;
}
#social
{
    float:right;
}
    
.slogo
{
    height:30px;
    width:30px;
    margin-bottom: 0%;
    margin-top:20%;
    
    
}

.contentDiv{
    clear:both;
    height:700px;
    width:75%;
    /* border:2px solid rgb(230, 39, 188); */
    margin-left:12%;
    /* float:left; */
}
.content{
    height:600px;
    width:50%;
    /* border:2px solid rgb(93, 35, 148); */
    margin-top:2%;
    float:left;
    margin-left:2%;
}
.feature_container{
    width:100%;
    display:inline-block;
    
}
.feature{
    float:left;
    
    margin-left:5%;
}
.fetIcon{
    height:50px;
    width:50px;
    margin-left:2%;
}
h2{
    color:green;
    font-size: 28px;
}
.btn{
    height:40px;
    width:200px;
    font-size:20px;
    color:white;
    background-color: rgb(152 136 131);
}
.imgDiv{
    height:300px;
    width: 45%;
    float:left;
    border:8px groove gray;
    margin-top: 5%;
}
.imgDiv>img{
    height:300px;
    width: 100%;  
}
#footer{
    height:112px;
    width:100%;
    margin-top: 6%;
    background-color:#c3c423 ;
}
#footText{
    text-align:center;
}
.footDiv{
    height:67px;
    width:33%;
    float:left;
    border-right:2px solid black;
    text-align: center;

}

.noBorder{
    border:none;
}